.solid {
    white-space: nowrap;
}

form#edit-form textarea {
    width: 450px;
}

table.task-table td:nth-child(1) {
    font-weight: bold;
}

.alert {
    position: fixed;
    top: 50%;
    left: 40%;
}

.tabbable {
    min-width: 780px;
    width: 70%;
}

#time-table {
    width:100%;
}

.table {
    width: auto;
}